<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "ninja kiwi logo.png", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>
    
      <div class="col-md-8">
        <p>I recently graduated from Cyprus High School as a valedictorian, and I am currently enrolled in the Code To Success program.</p>
      </div>
    </div>
  </div>
</div>