<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
    <p class="lead">This is the first ground-up website I have created. Take a look around to see how the site looks and works and to learn more about me.</p>
    <p class="lead">
     <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>